.benefits {
  padding: 43px 0;
  background-color: $color-light-grey;
  @include desktop {
    padding: 105px 0;
  }

  &-container {
    padding: 0 30px;
    @include desktop {
      padding: 0 100px;
    }
  }

  &-single {
    background-color: $color-white;
    border: 1px solid #e8e9ed;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 41px;
    padding: 0 22px;
    align-items: center;
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 37px;
      padding: 0;
    }

    &-notebook {
      --accent-color: #{$color-redish};
      @include desktop {
        flex-direction: row-reverse;

        .benefits-text {
          margin: 90px 35px;
        }
      }
      .benefits-img {
        margin: 40px 0 0;
        @include desktop {
          margin-right: 117px;
          margin-bottom: 38px;
        }

        img {
          width: 193px;
          height: auto;
          position: relative;
          z-index: 2;
          @include desktop {
            width: 386px;
          }
        }

        &::before {
          content: "";
          width: 90px;
          height: 90px;
          background-color: var(--accent-color);
          display: block;
          border-radius: 40px;
          position: absolute;
          top: -30px;
          right: -10px;
          transform: rotate(45deg);
          @include desktop {
            width: 180px;
            height: 180px;
            right: 0;
            top: -40px;
          }
        }
      }
    }

    &-phone {
      --accent-color: #{$color-primary};
      @include desktop {
        padding: 0 20px 0 70px;

        .benefits-text {
          margin: 70px 20px;
        }
      }
      .benefits-img {
        margin-top: 30px;
        @include desktop {
          margin-top: 0;
          padding-bottom: 30px;
        }

        img {
          width: 175px;
          height: auto;
          position: relative;
          z-index: 2;
          @include desktop {
            width: 426px;
            height: auto;
          }
        }

        &::before {
          content: "";
          width: 132px;
          height: 132px;
          background-color: var(--accent-color);
          display: block;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: -10px;
          @include desktop {
            width: 320px;
            height: 320px;
            top: -20px;
          }
        }
      }
    }
  }

  &-double {
    --accent-color: #{$color-green};
    @include desktop {
      display: flex;

      .benefits-single-solo {
        max-width: 620px;

        .benefits-text {
          max-width: none;
          margin: 70px 35px;
        }
      }
    }
    > div {
      margin-bottom: 0;
    }

    .benefits-single-image {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      background-color: var(--accent-color);
      border: none;
      margin-top: -5px;
      @include desktop {
        margin-left: 60px;
        margin-top: 0;
      }

      img {
        width: 295px;
        height: auto;
        margin-top: 55px;
      }
    }
  }

  &-title {
    margin-top: 26px;
    @include desktop {
      margin-top: 0;
    }
  }

  &-text {
    box-sizing: content-box;
    max-width: none;
    margin: 0;
    @include desktop {
      max-width: 415px;
      //   margin: 90px 36px;
    }

    &::after {
      content: "";
      width: 332px;
      height: 4px;
      background-color: var(--accent-color);
      display: block;
      margin-top: 50px;
    }
  }

  &-description {
    margin: 30px 0;
    line-height: 1.375rem;
  }

  &-img {
    position: relative;

    img {
      position: relative;
      z-index: 2;
    }
  }
}
