* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-open-sans;
}

a {
  text-decoration: none;
}

h2 {
  font-family: $font-raleway;
  font-size: 2.25rem;
  margin: 0 35px; //sprawdź to, jakby się rozjeżdzały marginesy w desktopie...
}

.logo {
  font-family: $font-raleway;
  font-size: 2rem;
  font-weight: 300;
  color: $color-primary;
}
