%btn {
  color: $color-white;
  font-weight: 700;
  border: none;
  display: inline-block;
}

.btn {
  &-primary {
    @extend %btn;
    padding: 23px 92px;
    background-color: $color-primary;
    box-shadow: 5px 10px 14px $color-primary-shadow;
    border-radius: 40px;
    margin: 0 33px;
  }

  &-begin {
    @extend %btn;
    font-size: 13px;
    padding: 16px 57px;
    background-color: $color-redish;
    border-radius: 23px;
    position: relative;
  }

  &-basic {
    top: 20px;
  }

  &-professional {
    background-color: $color-blue;
    top: 25px;
    box-shadow: 5px 10px 14px $color-primary-shadow;
  }

  &-premium {
    background-color: $color-green;
    top: 25px;
  }

  &-send {
    @extend %btn;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
    font-size: 13px;
    background-color: $color-primary;
    border-radius: 35px;
    box-shadow: 5px 10px 14px $color-primary-shadow;
  }
}
